<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <title>Currency Convertor</title>
</head>
<body>
    <h1>Currency Convertor</h1>

    <form th:action="@{/convert}" method="get" th:object="${currencyForm}">
        <div>
            <label for="source">Source Currency:</label>
            <input type="text" id="source" name="source" th:value="${currencyForm.source}" required>
            <span th:if="${#fields.hasErrors('source')}" th:errors="*{source}"></span>
        </div><br>

        <div>
            <label for="target">Target Currency:</label>
            <input type="text" id="target" name="target" th:value="${currencyForm.target}" required>
            <span th:if="${#fields.hasErrors('target')}" th:errors="*{target}"></span>
        </div><br>

        <div>
            <label for="amount">Amount:</label>
            <input type="number" id="amount" name="amount" th:value="${currencyForm.amount}" step="0.01" required >
            <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
        </div><br>

        <button type="submit">Convert</button>
    </form>



    <div>
        <h2>Converted Amount:</h2>
        <p th:text="${convertedAmount}"></p>
    </div>
</body>
</html>
