<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <title>Currency Convertor</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link to your CSS file -->
</head>
<body>
    <h1>Currency Convertor</h1>

    <form th:action="@{/convert}" method="get" th:object="${currencyForm}" class="form">
        <!-- Source Currency -->
        <div class="form__group">
            <input type="text" id="source" name="source" th:value="${currencyForm.source}" class="form__input" placeholder="Source Currency" required>
            <label for="source" class="form__label">Source Currency:</label>
            <span class="error-message" th:if="${#fields.hasErrors('source')}" th:errors="*{source}"></span>
        </div>

        <!-- Target Currency -->
        <div class="form__group">
            <input type="text" id="target" name="target" th:value="${currencyForm.target}" class="form__input" placeholder="Target Currency" required>
            <label for="target" class="form__label">Target Currency:</label>
            <span class="error-message" th:if="${#fields.hasErrors('target')}" th:errors="*{target}"></span>
        </div>

        <!-- Amount -->
        <div class="form__group">
            <input type="number" id="amount" name="amount" th:value="${currencyForm.amount}" class="form__input" step="0.01" placeholder="Amount" required>
            <label for="amount" class="form__label">Amount:</label>
            <span class="error-message" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
        </div>
        
            <button type="submit">Convert</button>
        
    </form>

    <div class="convertedAmount-container">
        <h2>Converted Amount:</h2>
        <p>
            <span th:text="${convertedAmount}"></span>
            <span th:text="${currencyForm.target}" class="uppercase"></span>
        </p>
    </div>
</body>
</html>
